@model IEnumerable<Blognet.Models.Post>

@{
    ViewData["Title"] = "BlogNet";
}

<div>
             <a class="nav-link" href="/Posts/Create">
                       <i class="fa fa-plus me-1" aria-hidden="true"></i>    Create Post
                </a>
</div>
<div class="p-2 d-flex">
    <div class="flex-grow-1">
 
    <div class="overflow-auto p-2" style="height: calc(100vh)">
            @foreach (var item in Model)
            {
                    <div class="bg-white mt-2 p-3 border-1 rounded-3">
                        <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                        <div class="bg-dark d-flex justify-content-center align-content-center text-white align-items-center" style="width: 30px; height: 30px; border-radius: 30px">J</div>
                                                <span class="ms-2">      @Html.DisplayFor(modelItem => item.User.FirstName) - (@Html.DisplayFor(modelItem => item.Category.Name))</span>
                                </div>
                        </div>
                    <h1>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h1>
                   <p>
                        @Html.DisplayFor(modelItem => item.Content)
                   </p>
                </div>
                        <div class="p-3 bg-white d-flex justify-content-between border-top border-secondary-subtle">
                            <span><i class="fa fa-thumbs-up text-secondary me-1 cursor-pointer" aria-hidden="true"></i>2</span>

                                    <span><i class="fa fa-comment text-secondary me-1" aria-hidden="true"></i> Comment</span>
                </div>
            }
    </div>

@*    <p>
    User Id: @ViewData["UserId"]
    </p>*@
    </div>
    <div class="w-25 ms-3">
            <div class="bg-white mt-3 p-2 rounded-3">
               <h3>
            Recent Posts
               </h3>
                <p>Recent post here</p>
            </div>
    </div>
</div>
